NODE_ENV=development
PORT=3030
DATABASE=mongodb+srv://jvaldez0306:Bvb09javz&@cluster0.f1axhgz.mongodb.net/fullstack?retryWrites=true&w=majority

JWT_SECRET=my-ultra-secure-and-ultra-long-secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=1